$outline-width: 6px;
$shadow-width: 2px;

$button-background: white;
$sec-button-background: #568ce2;
$shadow-color: grey;

$alt-button-background: black;
$alt-sec-button-background: #568ce2;
$alt-shadow-color: grey;
$menu_WIDTH: 150px;

body {
  background-color: #606470;
  padding: 0;
  margin: 0;
  font-family: "2P", sans-serif;
  box-sizing: border-box;
  position: fixed;
}

@font-face {
  font-family: "2P";
  src: url("./fonts/PressStart2P.ttf") format("truetype");
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  font-size: 2rem;
  background-color: #323643;
  position: sticky;
  top: 0;
  z-index: 100;
}

a {
  display: flex;
  color: #93deff;
  align-items: center;
  text-decoration: none;
}

.navbar a:hover {
  height: 5rem;
  background: #93deff;
  color: #fff;
}

.active {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #fff;
  background-color: #606470;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  width: 100vw;
}

.left {
  width: 25vw;
  height: 50vh;
}

.right {
  color: #fff;
  display: flex;
  font-size: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2;
  width: 50vw;
  height: 50vh;
}

.alttext {
  color: #93deff;
}

.newsContainer,
.giveawayContainer {
  border-style: solid;
  border-width: 0.125em 0;
  padding: 0.5em;
  position: relative;
  z-index: 1;
  margin: 10px;
  display: flex;
  gap: 3px;
  border-color: #93deff;

  &:before {
    border: inherit;
    border-width: 0 0.125em;
    content: "";
    height: 100%;
    left: -0.125em;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: -0.125em;
    z-index: -1;
  }
}

.newsContainer:hover,
.gameContainer:hover,
.giveawayContainer:hover {
  background: #93deff;
  cursor: pointer;
}

.newstitle {
  text-align: center;
}
.details {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  color: #fff;
  text-align: center;
}

.maingamecontainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gameContainer {
  text-align: center;
  width: 30vw;
  border-style: solid;
  border-width: 0.125em 0;
  padding: 0.5em;
  position: relative;
  z-index: 1;
  margin: 10px;
  gap: 3px;
  border-color: #93deff;

  &:before {
    border: inherit;
    border-width: 0 0.125em;
    content: "";
    height: 100%;
    left: -0.125em;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: -0.125em;
    z-index: -1;
  }
}

.gamedescription,
.gamegenre,
.gameplatform,
.gamerelease {
  color: #fff;
  line-height: 2;
}

span {
  color: #323643;
}

.gamethumbnail {
  width: auto;
  height: auto;
  border-radius: 20%;
}

.allbutton {
  display: flex;
  justify-content: space-around;
}
.previousbutton,
.nextbutton {
  width: 20vw;
  background-color: #606470;
  padding: 20px;
  right: 180px;
  bottom: 20px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: white;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px #93deff;
  &:hover,
  &:focus {
    background: #93deff;
    opacity: 0.1;
    box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px
      #93deff;
  }

  &:active {
    box-shadow: inset $shadow-width $shadow-width 0px 0px #93deff;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

  &:before {
    top: -$outline-width;
    left: 0;
    border-top: $outline-width #93deff;
    border-bottom: $outline-width #93deff;
  }

  &:after {
    left: -$outline-width;
    top: 0;
    border-left: $outline-width #606470;
    border-right: $outline-width #606470;
  }

  &--proceed {
    background: $alt-button-background;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px #606470;

    &:hover,
    &:focus {
      background: #93deff;
      box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px
        #606470;
    }

    &:active {
      box-shadow: inset $shadow-width $shadow-width 0px 0px #93deff;
    }
  }
}

.nextbutton {
  z-index: 100;
  position: fixed;
  left: 200px;
}

.previousbutton {
  position: fixed;
  z-index: 100;
}

.pagenum {
  text-align: center;
  color: #93deff;
}

.eight-bit {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.eight-bit input {
  width: 40vw;
  height: 40px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.eight-bit input:focus {
  outline: none;
  border-color: #93deff;
}

ul,
li {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.main {
  position: absolute;
  z-index: 1;
}

.main li {
  list-style: none;
  background: #323643;
  width: 100px;
  padding: 0 5px;
  border: 1px solid black;
  height: 30px;

  line-height: 30px;

  -webkit-transition: all 0.5s ease-in-out;
}
.main li:hover {
  background-color: #93deff;
}

.main li:nth-child(odd) {
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(-90deg);
}

.main li:nth-child(even) {
  margin-top: -65px;
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(350px) rotateX(90deg);
}

/*.main {
  
  -webkit-transition: all .5s ease-in-out;
  -webkit-transform-origin: 50% 0%;
  -webkit-transform: perspective(350px) rotateX(-90deg);
}

.hov:hover .main {
  
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(0deg);
}*/

.hov:hover li:nth-child(odd) {
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(0deg);
  margin-top: 0;
}

.hov:hover li:nth-child(even) {
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(350px) rotateX(0deg);
  margin-top: 0;
}

.main li:first-child {
  margin-top: 0;
}

.hov {
  position: relative;
  height: 40px;
  width: 112px;
  background: #323643;
  color: white;
  font-size: 13px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  list-style: none;
  z-index: 2;
}

.singlegamecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  text-align: center;
  margin: auto;
  border-style: solid;
  padding: 0.5em;
  z-index: 1;
  display: flex;
  gap: 3px;
  border-color: #93deff;

  &:before {
    border: inherit;
    border-width: 0 0.125em;
    content: "";
    height: 100%;
    left: -0.125em;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: -0.125em;
    z-index: -1;
  }
}

.singlegame {
  width: 55vw;
  border-radius: 20%;
}

.longdesc {
  line-height: 2;
  color: #fff;
}

.gameurl {
  width: 20vw;
  background-color: #606470;
  padding: 20px;
  right: 180px;
  bottom: 20px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: white;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px #93deff;

  &:active {
    box-shadow: inset $shadow-width $shadow-width 0px 0px #93deff;
  }
}
.gameurl:hover {
  background: #93deff;
  cursor: pointer;
}

.requirements {
  color: #fff;
}

h3 {
  color: #323643;
}

.minreq {
  color: #323643;
  text-decoration: underline;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  width: 300%;
  animation: slide 10s infinite;
}

.carousel-images img {
  width: 33.33%;
  white-space: nowrap;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
