$outline-width: 6px;
$shadow-width: 2px;

$button-background: white;
$sec-button-background: #568ce2;
$shadow-color: grey;

$alt-button-background: black;
$alt-sec-button-background: #568ce2;
$alt-shadow-color: grey;
$menu_WIDTH: 150px;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #606470;
  padding: 0;
  margin: 0;
  font-family: "2P", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: "2P";
  src: url("./fonts/PressStart2P.ttf") format("truetype");
}

a {
  display: flex;
  color: #93deff;
  align-items: center;
  text-decoration: none;
}

.active {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #fff;
  background-color: #606470;
}

// .maingamecontainer {
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }

// .gameContainer {
//   text-align: center;
//   width: 30vw;
//   border-style: solid;
//   border-width: 0.125em 0;
//   padding: 0.5em;
//   position: relative;
//   z-index: 1;
//   margin: 10px;
//   gap: 3px;
//   border-color: #93deff;

//   &:before {
//     border: inherit;
//     border-width: 0 0.125em;
//     content: "";
//     height: 100%;
//     left: -0.125em;
//     pointer-events: none;
//     position: absolute;
//     top: 0;
//     right: -0.125em;
//     z-index: -1;
//   }
// }

// .gamedescription,
// .gamegenre,
// .gameplatform,
// .gamerelease {
//   color: #fff;
//   line-height: 2;
// }

span {
  color: black;
}

// .gamethumbnail {
//   width: auto;
//   height: auto;
//   border-radius: 20%;
// }

// .previousbutton,
// .nextbutton {
//   width: 20vw;
//   background-color: #606470;
//   padding: 20px;
//   right: 180px;
//   bottom: 20px;
//   text-align: center;
//   font-family: "Press Start 2P", cursive;
//   color: white;
//   box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px #93deff;
//   &:hover,
//   &:focus {
//     background: #93deff;
//     opacity: 0.1;
//     box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px
//       #93deff;
//   }

//   &:active {
//     box-shadow: inset $shadow-width $shadow-width 0px 0px #93deff;
//   }

//   &:before,
//   &:after {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     box-sizing: content-box;
//   }

//   &:before {
//     top: -$outline-width;
//     left: 0;
//     border-top: $outline-width #93deff;
//     border-bottom: $outline-width #93deff;
//   }

//   &:after {
//     left: -$outline-width;
//     top: 0;
//     border-left: $outline-width #606470;
//     border-right: $outline-width #606470;
//   }

//   &--proceed {
//     background: $alt-button-background;
//     box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px #606470;

//     &:hover,
//     &:focus {
//       background: #93deff;
//       box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px
//         #606470;
//     }

//     &:active {
//       box-shadow: inset $shadow-width $shadow-width 0px 0px #93deff;
//     }
//   }
// }

// .nextbutton {
//   z-index: 100;
//   position: fixed;
//   left: 200px;
// }

// .previousbutton {
//   position: fixed;
//   z-index: 100;
// }

// .main li {
//   list-style: none;
//   background: #323643;
//   width: 100px;
//   padding: 0 5px;
//   border: 1px solid black;
//   height: 30px;

//   line-height: 30px;

//   -webkit-transition: all 0.5s ease-in-out;
// }
// .main li:hover {
//   background-color: #93deff;
// }

// .main li:nth-child(odd) {
//   -webkit-transform-origin: top;
//   -webkit-transform: perspective(350px) rotateX(-90deg);
// }

// .main li:nth-child(even) {
//   margin-top: -65px;
//   -webkit-transform-origin: bottom;
//   -webkit-transform: perspective(350px) rotateX(90deg);
// }

/*.main {
  
  -webkit-transition: all .5s ease-in-out;
  -webkit-transform-origin: 50% 0%;
  -webkit-transform: perspective(350px) rotateX(-90deg);
}

.hov:hover .main {
  
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(0deg);
}*/

// .hov:hover li:nth-child(odd) {
//   -webkit-transform-origin: top;
//   -webkit-transform: perspective(350px) rotateX(0deg);
//   margin-top: 0;
// }

// .hov:hover li:nth-child(even) {
//   -webkit-transform-origin: bottom;
//   -webkit-transform: perspective(350px) rotateX(0deg);
//   margin-top: 0;
// }

// .main li:first-child {
//   margin-top: 0;
// }

// .hov {
//   position: relative;
//   height: 40px;
//   width: 112px;
//   background: #323643;
//   color: white;
//   font-size: 13px;
//   font-family: Helvetica;
//   font-weight: bold;
//   text-align: center;
//   line-height: 40px;
//   list-style: none;
//   z-index: 2;
// }

.singlegamecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  text-align: center;
  margin: auto;
  border-style: solid;
  padding: 0.5em;
  z-index: 1;
  display: flex;
  gap: 3px;
  border-color: #93deff;

  &:before {
    border: inherit;
    border-width: 0 0.125em;
    content: "";
    height: 100%;
    left: -0.125em;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: -0.125em;
    z-index: -1;
  }
}

.singlegame {
  width: 55vw;
  border-radius: 20%;
}

.longdesc {
  line-height: 2;
  color: #fff;
}

.gameurl {
  width: 20vw;
  background-color: #606470;
  padding: 20px;
  right: 180px;
  bottom: 20px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: white;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px #93deff;

  &:active {
    box-shadow: inset $shadow-width $shadow-width 0px 0px #93deff;
  }
}
.gameurl:hover {
  background: #93deff;
  cursor: pointer;
}

.requirements {
  color: #fff;
}

h3 {
  color: #323643;
}

.minreq {
  color: #323643;
  text-decoration: underline;
}
