$outline-width: 6px;
$shadow-width: 2px;

$button-background: white;
$sec-button-background: #568ce2;
$shadow-color: grey;

$alt-button-background: black;
$alt-sec-button-background: #568ce2;
$alt-shadow-color: grey;

body {
  background-color: #606470;
  padding: 0;
  margin: 0;
  font-family: "2P", sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: "2P";
  src: url("./fonts/PressStart2P.ttf") format("truetype");
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  font-size: 2rem;
  background-color: #323643;
  position: sticky;
  top: 0;
  z-index: 100;
}

a {
  display: flex;
  color: #93deff;
  align-items: center;
  text-decoration: none;
}

.navbar a:hover {
  height: 5rem;
  background: #93deff;
  color: #fff;
}

.active {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #fff;
  background-color: #606470;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  width: 100vw;
}

.left {
  width: 25vw;
  height: 50vh;
}

.right {
  color: #fff;
  display: flex;
  font-size: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2;
  width: 50vw;
  height: 50vh;
}

.alttext {
  color: #93deff;
}

.newsContainer {
  border-style: solid;
  border-width: 0.125em 0;
  padding: 0.5em;
  position: relative;
  z-index: 1;
  margin: 10px;
  display: flex;
  gap: 3px;
  border-color: #93deff;

  &:before {
    border: inherit;
    border-width: 0 0.125em;
    content: "";
    height: 100%;
    left: -0.125em;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: -0.125em;
    z-index: -1;
  }
}

.newsContainer:hover,
.gameContainer:hover {
  background: #93deff;
  cursor: pointer;
}

.newstitle {
  text-align: center;
}
.details {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  color: #fff;
  text-align: center;
}

.maingamecontainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gameContainer {
  text-align: center;
  width: 30vw;
  border-style: solid;
  border-width: 0.125em 0;
  padding: 0.5em;
  position: relative;
  z-index: 1;
  margin: 10px;
  gap: 3px;
  border-color: #93deff;

  &:before {
    border: inherit;
    border-width: 0 0.125em;
    content: "";
    height: 100%;
    left: -0.125em;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: -0.125em;
    z-index: -1;
  }
}

.gamedescription,
.gamegenre,
.gameplatform {
  color: #fff;
  line-height: 2;
}

span {
  color: #323643;
}

.gamethumbnail {
  border-radius: 20%;
}

.allbutton {
  display: flex;
  justify-content: space-around;
}
.nextbutton,
.previousbutton {
  width: 20vw;
  background-color: #606470;
  padding: 20px;
  right: 180px;
  bottom: 20px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: white;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px #93deff;
  &:hover,
  &:focus {
    background: #93deff;
    box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px
      #93deff;
  }

  &:active {
    box-shadow: inset $shadow-width $shadow-width 0px 0px #93deff;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

  &:before {
    top: -$outline-width;
    left: 0;
    border-top: $outline-width #93deff;
    border-bottom: $outline-width #93deff;
  }

  &:after {
    left: -$outline-width;
    top: 0;
    border-left: $outline-width #93deff;
    border-right: $outline-width #93deff;
  }

  &--proceed {
    background: $alt-button-background;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px #93deff;

    &:hover,
    &:focus {
      background: #93deff;
      box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px
        #93deff;
    }

    &:active {
      box-shadow: inset $shadow-width $shadow-width 0px 0px #93deff;
    }
  }
}
